@import "tailwindcss";

@theme {
    --color-background: #0f172a;
    --color-surface: #1e293b;
    --color-primary: #38bdf8;
    --color-secondary: #818cf8;
    --color-accent: #f472b6;

    --font-sans: "Inter", sans-serif;

    --animate-fade-in: fadeIn 0.5s ease-out;
    --animate-slide-up: slideUp 0.5s ease-out;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slideUp {
        0% {
            transform: translateY(20px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}